<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>国家非物质文化遗产</title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/font/iconfont.css">
	<link rel="stylesheet" href="../static/css/common.css">
	<link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
	<!-- 顶部搜索 -->
	<div class="search-content">
		<a href="#" class="classify"></a>
		<div class="search">
			<form action="">
				<input type="text" value="让传统节日焕发时代气象">
			</form>
		</div>
		<a href="https://github.com/Lkk-Web" class="login">
			<img src="https://avatars.githubusercontent.com/u/80378195?v=4" alt="">
		</a>
	</div>
	<!-- banner -->
	<div class="banner">
		<img src="../static/img/banner2.jpg" alt="">
	</div>
	<!-- nav模块 -->
	<nav>
		<a href="/index">
			<img src="../../static/img/nav1.png" alt="">
			<span>推荐</span>
		</a>
		<a href="/xc">
			<img src="../../static/img/nav2.png" alt="">
			<span>宣传</span>
		</a>
		<a href="/hd">
			<img src="../../static/img/nav3.png" alt="">
			<span>活动</span>
		</a>
		<a href="/ly">
			<img src="../../static/img/nav4.png" alt="">
			<span>旅游</span>
		</a>
	</nav>
	<!-- 新闻模块 -->
	<div class="vedio">
        <a href="#">
            <p>视频</p> 
            <img src="../static/video/vd1.jpg" alt="">
        </a>
        <a href="#">
            <p>视频</p> 
            <img src="../static/video/vd2.jpg" alt="">
        </a> 
		<a href="#">
            <p>视频</p> 
            <img src="../static/video/vd3.jpg" alt="">
        </a> 
		<a href="#">
            <p>视频</p> 
            <img src="../static/video/vd8.jpg" alt="">
        </a>
		<a href="#">
            <p>视频</p> 
            <img src="../static/video/vd9.jpg" alt="">
        </a> 
		<a href="#">
            <p>视频</p> 
            <img src="../static/video/vd10.jpg" alt="">
        </a> 
		<a href="#">
            <p>视频</p> 
            <img src="../static/video/vd4.jpg" alt="">
        </a> 
		<a href="#">
            <p>视频</p> 
            <img src="../static/video/vd7.jpg" alt="">
        </a> 
		<a href="#">
            <p>视频</p> 
            <img src="../static/video/vd6.jpg" alt="">
        </a> 
		<a href="#">
            <p>视频</p> 
            <img src="../static/video/vd5.jpg" alt="">
        </a> 
		<a href="#">
            <p>视频</p> 
            <img src="../static/video/vd11.jpg" alt="">
        </a> 
		<a href="#">
            <p>视频</p> 
            <img src="../static/video/vd12.jpg" alt="">
		</a>    
	</div>
	<!-- 底部导航 -->
	<div class="bottom-nav">	
		<a href="/index">
			<span>&#xe61e;</span>
			首页
		</a>
		<a href="/dt">
			<span>&#xe7c2;</span>
			动态
		</a>
		<a href="/login">
			<span>&#xe66f;</span>
			发布
		</a>
		<a href="/sc">
			<span>&#xe61a;</span>
			商城
		</a>
		<a href="/zx">
			<span>&#xe62a;</span>
			中心
		</a>
	</div>
</body>
</html>