<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>国家非物质文化遗产</title>
	<link rel="stylesheet" href="../../static/css/normalize.css">
	<link rel="stylesheet" href="../../static/font/iconfont.css">
	<link rel="stylesheet" href="../../static/css/common.css">
	<link rel="stylesheet" href="../../static/css/gr.css">
</head>
<body>
    <div class="top">
        <div class="tx">
             <a href="#">
                 <img src="https://avatars.githubusercontent.com/u/80378195?v=4https://avatars.githubusercontent.com/u/80378195?v=4" alt="">               
             </a>
             <span>你忽视这</span>
        </div>  
     </div>
     <div class="bq">
        <a href="#">离线缓存</a>
        <a href="#">历史记录</a>
        <a href="#">视频收藏</a>
        <a href="#">创作首页</a>
    </div>
    <div class="bq2">
        <a href="#">商品收藏</a>
        <a href="#">店铺收藏</a>
        <a href="#">历史记录</a>
        <a href="#">全部订单</a>
    </div>
    <div class="cz">创作中心</div>
    <div class="cz2">
        <a href="#">创作首页</a>
        <a href="#">稿件管理</a>
        <a href="#">现时福利</a>
        <a href="#">有奖活动</a>
    </div>
    <div class="gm">游戏中心</div>
    <div class="gm2">
        <a href="#">我的游戏</a>
        <a href="#">我的预约</a>
    </div>
    <div class="tj">推荐服务</div>
    <div class="new">
        <a href="#">个性装扮</a>
        <a href="#">我的钱包</a>
        <a href="#">公益项目</a>
        <a href="#">社区中心</a>
    </div>
    <div class="jp">精品推荐</div>
    <div class="jp2">
        <a href="#">商品</a>
        <a href="#">商品</a>
        <a href="#">商品</a>
        <a href="#">商品</a>
        <a href="#">商品</a>
        <a href="#">商品</a>
        <a href="#">商品</a>
        <a href="#">商品</a>
        <a href="#">商品</a>
    </div>

    <!-- 底部导航 -->
    <div class="bottom-nav">
        <a href="/index">
            <span>&#xe61e;</span>
            首页
        </a>
        <a href="/dt">
            <span>&#xe7c2;</span>
            动态
        </a>
        <a href="/login">
            <span>&#xe66f;</span>
            发布
        </a>
        <a href="/sc">
            <span>&#xe61a;</span>
            商城
        </a>
        <a href="/zx">
            <span>&#xe62a;</span>
            中心
        </a>
    </div>
</body>
</html>