<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>国家非物质文化遗产</title>
	<link rel="stylesheet" href="../../static/css/normalize.css">
	<link rel="stylesheet" href="../../static/font/iconfont.css">
	<link rel="stylesheet" href="../../static/css/common.css">
	<link rel="stylesheet" href="../../static/css/ly.css">
</head>
<body>
	<!-- 顶部搜索 -->
	<div class="search-content">
		<a href="#" class="classify"></a>
		<div class="search">
			<form action="">
				<input type="text" value="让传统节日焕发时代气象">
			</form>
		</div>
		<a href="gr.html" class="login">
			<img src="https://avatars.githubusercontent.com/u/80378195?v=4https://avatars.githubusercontent.com/u/80378195?v=4" alt="">
		</a>
	</div>
	<!-- banner -->
	<div class="banner">
		<img src="../../static/img/banner6.jpg" alt="">
	</div>
	<!-- nav模块 -->
	<nav>
		<a href="/index">
			<img src="../../static/img/nav1.png" alt="">
			<span>推荐</span>
		</a>
		<a href="/xc">
			<img src="../../static/img/nav2.png" alt="">
			<span>宣传</span>
		</a>
		<a href="/hd">
			<img src="../../static/img/nav3.png" alt="">
			<span>活动</span>
		</a>
		<a href="/ly">
			<img src="../../static/img/nav4.png" alt="">
			<span>旅游</span>
		</a>
	</nav>
	<!-- 新闻模块 -->
	<div class="new">
		<img src="../../static/img/ly1.jpg" alt="">
		<img src="../../static/img/ly2.png" alt="">
	</div>
    <div class="m-nav">
        <a href="#">自驾游</a>
        <a href="#">跟团走</a>
        <a href="#">包车</a>
        <a href="#">攻略</a>
    </div>
	<!-- 底部导航 -->
	<div class="bottom-nav">
		<a href="/index">
			<span>&#xe61e;</span>
			首页
		</a>
		<a href="/dt">
			<span>&#xe7c2;</span>
			动态
		</a>
		<a href="/login">
			<span>&#xe66f;</span>
			发布
		</a>
		<a href="/sc">
			<span>&#xe61a;</span>
			商城
		</a>
		<a href="/zx">
			<span>&#xe62a;</span>
			中心
		</a>
	</div>
</body>
</html>