<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>国家非物质文化遗产</title>
	<link rel="stylesheet" href="../../static/css/normalize.css">
	<link rel="stylesheet" href="../../static/font/iconfont.css">
	<link rel="stylesheet" href="../../static/css/common.css">
	<link rel="stylesheet" href="../../static/css/sc.css">
</head>
<body>
	<!-- 顶部搜索 -->
	<div class="search-content">
		<a href="#" class="classify"></a>
		<div class="search">
			<form action="">
				<input type="text" value="让传统节日焕发时代气象">
			</form>
		</div>
		<a href="gr.html" class="login">
			<img src="https://avatars.githubusercontent.com/u/80378195?v=4https://avatars.githubusercontent.com/u/80378195?v=4" alt="">
		</a>
	</div>
	<div class="top">
        <a href="#">周边</a>
        <a href="#">门票</a>
        <a href="#">图书漫画</a>
        <a href="#">汉服</a>
        <a href="#">旅游团</a>
    </div>
    <div class="sp">
        <a href="#">打折活动</a>
        <a href="#">盲盒</a>
    </div>
    <div class="md">
        <a href="#">今日上新</a>
        <a href="#">人气排行</a>
        <a href="#">抢先看</a>
        <a href="#">分类</a>
    </div>
    <div class="bt">
        <span class="no">
            <a href="#">商品</a>
            <a href="#">商品</a>
        </span>
        <span>商品</span>
    </div>
	<!-- 底部导航 -->
	<div class="bottom-nav">
		<a href="/index">
			<span>&#xe61e;</span>
			首页
		</a>
		<a href="/dt">
			<span>&#xe7c2;</span>
			动态
		</a>
		<a href="/login">
			<span>&#xe66f;</span>
			发布
		</a>
		<a href="/sc">
			<span>&#xe61a;</span>
			商城
		</a>
		<a href="/zx">
			<span>&#xe62a;</span>
			中心
		</a>
	</div>
</body>
</html>